@model EntityLayer.Concrete.Brand
@{
    ViewBag.Title = "EditBrand";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>EditBrand</h2>


@using (Html.BeginForm("EditBrand", "Brand", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Marka ID")
        @Html.TextBoxFor(x => x.BrandID, new { @class = "form-control", @readonly = false })
        <br />
        @Html.Label("Marka Adı")
        @Html.TextBoxFor(x => x.BrandName, new { @class = "form-control" })
        <br />
        @Html.Label("Durumu")
        @Html.TextBoxFor(x => x.BrandStatus, new { @class = "form-control", @readonly = false })
        <br />
        <br />
        <button class="btn btn-success">Güncelle</button>
    </div>
}