@model EntityLayer.Concrete.FixtureModel
@{
    ViewBag.Title = "AddFixtureModel";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<p align="right">
    <button class="btn btn-info" data-toggle="modal" data-target="#Modal1">
        Demirbaş Model Ekle
    </button>
@using (Html.BeginForm("AddFixtureModel", "FixtureModel", FormMethod.Post))
{
<div class="form-group">
    @Html.Label("Model Adı :")
    @Html.TextBoxFor(x => x.FixtureModelName, new { @class = "form-control" })
    <br />
    @Html.Label("Alt Kategori Seçiniz :")
    @Html.DropDownListFor(x => x.SubCategoryId, (List<SelectListItem>)ViewBag.VbSubCategory, new { @class = "form form-control" })
    <br />
    @Html.Label("Model Seçiniz :")
    @Html.DropDownListFor(x => x.ModelId, (List<SelectListItem>)ViewBag.VbvalueModel, new { @class = "form form-control" })
    <br />
    <button class="btn btn-info">Model Ekle</button>
</div>
}